.card {
  width: 47%;
  border: 2px solid var(--secondary-color);
  border-radius: 8%;
  padding: 4.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  .card-header {
    font-weight: 600;
    font-size: 20px;
  }
  .card-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: var(--grey-text);
  }
  .card-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 15px;
    margin-bottom: 5%;
  }
  &.active {
    border-color: var(--primary-color);
  }
}
