@mixin text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.form-wrapper {
  flex-grow: 0.25;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .heading {
    @include text-ellipsis();
    margin: 0% 10%;
  }
  .sub-heading {
    @include text-ellipsis();
    margin: 0% 10%;
    color: var(--grey-text);
    font-weight: 150;
  }
  .form-content {
    flex-grow: 0.8;
    padding-top: 5%;
  }
  .submit-wrapper {
    display: flex;
    justify-content: center;
    .submit {
      flex-basis: 38%;
      @media (max-width: 768px) {
        flex-basis: 60%;
      }
      color: white;
      background-color: var(--primary-color);
      border: 0.5px solid var(--secondary-color);
      border-radius: 8px;
      padding: 1% 0%;
      width: 100%;
    }
  }
}
